 <div class="container py-5">
        {{#if mensaje}}
            <div class="alert alert-success">{{mensaje}}</div> 
        {{/if}}
        <div class="row align-items-center">
          
            <div class="col-md-6">
                <img src="" alt="Imagen de mascota" class="img-fluid" width="600" height="400">
            </div>
            
            <div class="col-md-6">
                <h1 class="mb-4">Nombre mascota: {{mascota.name}}</h1>
                <p><strong>especie: {{mascota.species}}</strong></p>
                <p>raza: {{mascota.breed}}</p>
                <p>estado: {{mascota.adoption_status}}</p>
                {{#if token}}
                    {{#if (eq mascota.adoption_status 'Sin solicitud')}}
                        <form action="/mascotas/{{mascota.id}}" method="post">    
                                <button class="btn btn-primary" type="submit">Adoptar</button>
                        </form>
                    {{else}}
                        <button class="btn btn-primary disabled" type="submit">En proceso</button>
                        <form action="/mascotas/cancelar/{{mascota.id}}" method="post">
                            <button class="btn btn-primary" type="submit">Cancelar Solicitud</button>
                        </form>
                    {{/if}}
                {{else}}
                    <a href="/auth/login">
                        <button class="btn btn-primary" type="submit">
                            Iniciar sesion para adoptar
                        </button>
                    </a>
                {{/if}}
                
            </div>
        </div>
    </div>