<div class="container">

    <h1 class="pt-3">{{message}}</h1>
    <hr>
    <p>Nombre: {{mascota.name}}</p>
    <p>Especie: {{mascota.species}}</p>
    <p>Raza: {{mascota.breed}}</p>
    <p>Estado de Adopción: {{mascota.adoption_status}}</p>
    <p>Fecha de Ingreso: {{mascota.entry_date}}</p>
    <p>Foto: <img src="{{mascota.photo_url}}" alt="Foto de {{mascota.name}}"></p>
    </div>