<h1>Administracion de Mascotas</h1>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Especie</th>
      <th scope="col">Raza</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
   <tbody>
    {{#each solicitudes}}
      <tr>
        
        <td>{{this.request_date}}</td>
        <td>{{this.user.name}}</td>
        <td>{{this.pet.name}}</td>
        <td>{{this.status}}</td>
        {{#if (eq this.status "Aprobada")}}
            <td><a href="/solicitud/editar/{{this.id}}"><button type="button" class="btn btn-success disabled">Aprovar</button></a></td>
            <td><a href="/solicitud/eliminar/{{this.id}}"><button type="button" class="btn btn-danger disabled">Denegar</button></a></td>
        {{else}}
            <td><a href="/solicitud/editar/{{this.id}}"><button type="button" class="btn btn-success ">Aprovar</button></a></td>
            <td><a href="/solicitud/eliminar/{{this.id}}"><button type="button" class="btn btn-danger">Denegar</button></a></td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>