<div class="container">
<h1>Administracion de Mascotas</h1>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Mascota 
        <button id="sortMascotaAsc" class="btn btn-link p-0">↑</button>
        <button id="sortMascotaDesc" class="btn btn-link p-0">↓</button>
      </th>
      <th scope="col">Usuario 
        <button id="sortUsuarioAsc" class="btn btn-link p-0">↑</button>
        <button id="sortUsuarioDesc" class="btn btn-link p-0">↓</button>
      </th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody id="solicitudesBody">
    {{#each solicitudes}}
      <tr>
        <td>{{formatDate this.request_date}}</td>
        <td>{{this.Pet.name}}</td>
        <td>{{this.User.name}}</td>
        <td>{{this.status}}</td>
        {{#if (or (eq this.status "Aprobada") (eq this.status "Rechazada"))}}
          <td><button type="button" class="btn btn-success disabled">Aprovar</button></td>
          <td><button type="button" class="btn btn-danger disabled">Denegar</button></td>
        {{else}}
          <td><a href="/admin/solicitud/aprobar/{{this.id}}"><button type="button" class="btn btn-success">Aprovar</button></a></td>
          <td><a href="/admin/solicitud/denegar/{{this.id}}"><button type="button" class="btn btn-danger">Denegar</button></a></td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
</div>